body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(223, 248, 240);
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: rgb(188, 240, 212);
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: rgb(59, 118, 106);
    font-size: 32px;
}

h2 {
    text-align: center;
    color: rgb(59, 118, 106);
    margin-bottom: 20px;
}

.contact.box {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: rgb(188, 240, 212);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    }
p{
    color:rgb(62, 145, 114) ;
}
.mybtn{
    background-color:rgb(77, 145, 128) ;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius: 8px;
    font-size: 16px;
}
.header {
  background: #0A5C45;
  padding: 20px 65px;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 90%;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #D4AF37;
  letter-spacing: 2px;
  margin: 0;
}

.slogan {
  font-size: 0.9rem;
  color: #C8F3DC;
  font-style: italic;
  margin-top: 0.2rem;
}

.nav {
  display: flex;
  gap: 18px;
  padding:5px;
}

.nav a {
  color: #d4af37;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 10px;
}
