body {
    font-family: Arial;
    background: rgb(235, 245, 236); 
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(40, 90, 70); 
}

h3 {
    text-align: center;
    color: rgb(70, 120, 95);
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    background: rgb(215, 235, 220); 
    padding: 20px;
    width: 90%;
    max-width: 450px;
    margin: auto;
    border-radius: 10px;
}

label {
    font-weight: bold;
    color: rgb(40, 80, 65);
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(140, 170, 150);
}

button {
    width: 100%;
    background: rgb(40, 90, 70);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#message {
    text-align: center;
    margin-top: 15px;
    color: rgb(40, 90, 70);
    font-weight: bold;
}
